@{
    ViewBag.Title = "Home Page";
}

<section id="intro" data-start="background-position: 50% 0px;" data-90p="background-position: 50% 200px;">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-12">
                <div id="carousel_fade_intro" class="carousel slide">
                    <div class="carousel-inner">
                        <!--<div class="active item" style="height:301px;">
                            <div class="center-block">
                                <img src="img/checkin_big.png" alt="" />
                            </div>
                        </div>-->
                        <div class="active item">
                            <h1>Checkin Zone</h1>
                        </div>
                        <div class="item">
                            <h1>
                                Electronic sign in<br />
                                sheets made easy!
                            </h1>
                        </div>
                        <div class="item">
                            <h1>
                                Currently available<br />for Windows 10
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="scroll-btn hidden-xs">
        <a href="#services">
            <span class="mouse"><span></span></span>
        </a>
    </span>
</section>
<section id="services">
    <div class="container">
        <div class="row divide">
            <div class="home-software">
                <h1>
                    Try us out for 30 days to experience the most user friendly app for educators.<br /><br />
                </h1>
                <p class="col-sm-offset-5 col-sm-7 text-center"><a class="btn btn-info btn-lg" style="background: #0098de;" href="https://www.checkinzone.net/signup">Free Sign Up</a></p>
            </div>
        </div>
    </div>
</section>
<section id="about-us" data-bottom-top="background-position: 50% -150px;" data-top-bottom="background-position: 50% 50px;">
    <h1 class="header">What is Checkin Zone ?</h1>
    <p class="header">a unique electronic sign in sheet made easy and fun.</p>
</section>
<!--start gallery-->
<section id="gallery">
    <div class="container">
        <div class="row divide">
            <div class="col-sm-6">
                <img src="~/Content/img/HiRes1.jpg" alt="HiRes" class="cnt_img" />
            </div>
            <div class="col-sm-6">
                <h1>Do you work with kids?</h1>
                <p>If you work with children you know that record keeping is the part of your business you probably like least.</p>
                <p>
                    How many hours have you spent archiving, scanning or sorting through your paper sign in sheets? Have you ever looked for that child a year back in time? Have you thought of what happens in a state of emergency when you need information the most? How about the  steady stream of parents waiting to sign for their children?
                </p>
                <p>
                    Our goal is to provide a paper alternative while speeding up the sign in process. But that is not all; Search through records electronically for as far back as you need and find it in minutes. If you need to contact a parent or guardian right away it is all right there on your tablet and you will no longer need to go through archives or files and folders.
                </p>
                <p>
                    <a href="#tutorial-top" class="btn btn-link">Click here to see how...</a>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row divide">
            <div class="col-sm-6 image-line">
                <h1>So what's the fuss?</h1>
                <p>Our most basic function is securing electronic signatures for your records but that is not all..</p>
                <p>
                    Select the member, sign and hit<img src="~/Content/img/checkin.png" alt="checkin" style="margin-top: -30px;" />
                    <br />
                    An electronic time stamp is created and the information is stored on a cloud server.
                    The member is now highlighted green.
                </p>
                <p>
                    To <img src="~/Content/img/checkout.png" alt="checkout" style="margin-top: -30px;" /> select that same member for a second time
                    and now the highlight is gray.
                    If the member did not show at all there will be no highlight.
                </p>
                <p>
                    <a href="#tutorial-top" class="btn btn-link">Initial set up tutorial</a>
                </p>
            </div>
            <div class="col-sm-6">
                <div id="carousel-3" class="carousel slide">
                    <div class="carousel-inner mid">
                        <div class="active item">
                            <img src="~/Content/img/acme_school.png" alt="" width="90%">
                        </div>
                        <div class="item">
                            <img src="~/Content/img/patrica.png" alt="patrica" width="90%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end gallery-->
<!--start contact header-->
<!--start works header-->
<div id="why-us" data-bottom-top="background-position: 50% -150px;" data-top-bottom="background-position: 50% 50px;">
    <h1 class="header">Features</h1>
</div>
<!--start works-->
<section id="services">
    <div class="container">
        <div class="row divide">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="myway-icon-services">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#moneybox"></use>
                        </svg>
                    </div>
                    <div class="caption">
                        <h3>Save time and money</h3>
                        <p>
                            Electronic sign in sheets are the wave of the future saving you and your enrolled students time signing in to your facility while reducing the use of paper, ink and labor.
                            <br />
                            <span style="font-weight: bold">
                                All you would need is one tablet.
                                No additional servers, computers, scanners or printers are required.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="myway-icon-services">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#school-bus"></use>
                        </svg>
                    </div>
                    <div class="caption">
                        <h3>Who should use this software?</h3>
                        <p>
                            This software was designed for use at child care facilities, daycare centers, child transportation services, school districts, after school programs, camps and other provider services.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="myway-icon-services">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#shape76"></use>
                        </svg>
                    </div>
                    <div class="caption">
                        <h3>For Parents</h3>
                        <p>
                            This tablet based software starts with you, the parent, find your child with a visual aid - your child's picture or search by name.
                            Sign in with a stylus or just use your finger, check-in and you are done.<br />
                            An electronic time stamp is created and you are on your way.
                            Yes, It is that fast and easy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row divide">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="myway-icon-services">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#users"></use>
                        </svg>
                    </div>
                    <div class="caption">
                        <h3>For Staff</h3>
                        <p>
                            And for your staff - PIN access sign in for time management and staff ratios.
                            The sign in process remains the same - simple and fast!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="myway-icon-services">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#speech-talk-user"></use>
                        </svg>
                    </div>
                    <div class="caption">
                        <h3>For Managment</h3>
                        <p>
                            Checkin zone was created to work <span style="font-weight: bold">online</span> and <span style="font-weight: bold">offline</span> so you do not need to pay for internet service if that is not available to you.<br />
                            Run reports, manage ratios and more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="myway-icon-services">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#first-aid-medecine-shield"></use>
                        </svg>
                    </div>
                    <div class="caption">
                        <h3>Emergency information</h3>
                        <p>
                            In a state of emergency every second counts. One tablet will contain all the information responders might need including pictures of the individuals, whether they are in care or if they have left for the day, parental information and specials needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row divide">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="myway-icon-services">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#upload"></use>
                        </svg>
                    </div>
                    <div class="caption">
                        <h3>Online / Offline</h3>
                        <p>
                            Power outage?
                            Is your internet service provider offline?
                            <br />
                            Our system is designed to work both online and offline seemlessly.
                            <br />
                            Once reconnected to the internet your data is synced and stored on our secured servers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="myway-icon-services">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#tablet"></use>
                        </svg>
                    </div>
                    <div class="caption">
                        <h3>Multiple Tablets</h3>
                        <p>
                            There is no limit on how many tablets you can add to your account.
                            <br />
                            Through your internet connection your tablets will continuously sync all data through our secured servers.
                            <br />
                            Adding a new tablet is simple, just login with your user, password and account key, the application will be ready to use in a matter of minutes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="myway-icon-services">
                        <svg viewBox="0 0 32 32">
                            <use xlink:href="#camera"></use>
                        </svg>
                    </div>
                    <div class="caption">
                        <h3>Security</h3>
                        <p>
                            We understand the sensitivity of the information you store and use extreme measures to secure the privacy of your data.<br />
                            Authentication is done using your "Microsoft account" along with a unique Checkin Zone key.<br />
                            The application's administrative section is password protected.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--start Tutorial header-->
<div id="why-us" data-bottom-top="background-position: 50% -150px;" data-top-bottom="background-position: 50% 50px;">
    <h1 class="header">And there's more</h1>
</div>
<section>
    <div class="container">

        <div class="row divide">

            <div class="cnt-inner divide">
                <h1 class="getting">In Case of an Emergency…</h1>

                <h3 class="text_inn getting">Users have rated this as one of the most innovative functions seen in daycare applications.</h3>
            </div>

            <div class="col-sm-7">
                <div class="tutorial_main_img">
                    <img src="~/Content/img/emergency.png" alt="emergency_contact" class="cnt_img" />
                </div>
            </div>

            <div class="col-sm-5">

                <p style="margin-top:0px;">
                    Emergency response teams (fire fighters, paramedics, police) rely heavily on the information you provide whether it is a member profile or a roster of members attending the facility that day. The roster of attendees is crucial and will be used to locate missing individuals.
                </p>
                <p>
                    The expectation is that ALL sign in sheets throughout the facility be carried out to aid emergency responders, but what would you focus on - children or a piece of paper?
                </p>
                <p>
                    <b>CheckIn Zone</b> provides an "all in one" solution.
                </p>
                <p>
                    Under the Emergency tab you will find a list of members along with a headcount in the facility.<br />
                    Green: The member was present at the time of the event, White: The member was not in attendance that day, Gray: The member has left for the day.
                </p>
                <p>One click on any member will pull up the members profile (e.g critical phone numbers, optional medical information, allergies etc.) to aid emergency responders. </p>
                <p><b>So what happens if the tablet is lost or damaged? </b></p>
                <p>All the information is cloud based and can be accessed from ANY computer using your user name and password.</p>
            </div>
        </div>

        <hr>
        <div class="row divide">

            <div class="col-sm-5">
                <h2 class="blue_head">Reports</h2>
                <p>
                    Most government agencies require a legal signature when dealing with children in care. These signatures are used to verify who signed in and the time in which they arrived and departed from care and those agencies may require to view and verify the signature on file.
                </p>
                <p>Finding that signature from a year ago can be time consuming and frustrating but with our on board reporting system, you can sort and locate members in minutes using all or some of these parameters - member name, group association and date or date range. </p>
                <p>At <b>CheckIn Zone</b> your electronic signature sheets are stored and archived so you can locate a signature with ease.</p>
            </div>

            <div class="col-sm-7">
                <div class="tutorial_main_img">
                    <img src="~/Content/img/reports.png" alt="reports" class="cnt_img" />
                </div>
            </div>
        </div>
        <hr>

        <div class="row divide">

            <div class="col-sm-7">
                <div class="tutorial_main_img">
                    <img src="~/Content/img/reports2.png" alt="reports2" class="cnt_img" />
                </div>
            </div>

            <div class="col-sm-5">
                <p>Now you can print your report to a wireless printer or save and email it to the recipient of your choice. </p>
            </div>
        </div>
    </div>
</section>

<!--start Tutorial header-->
<section id="tutorial-top" data-bottom-top="background-position: 50% -150px;" data-top-bottom="background-position: 50% 50px;">
    <h1 class="header">Tutorial</h1>
</section>
<div class="container">
    <div class="row divide">
        <div class="col-sm-7">
            <div class="tutorial_main_img">
                <img src="~/Content/img/update_ac.png" alt="update_ac" class="cnt_img" />
            </div>
        </div>
        <div class="col-sm-5">
            <div class="tutorial_main_des">
                <h2>Getting started</h2>
                <h3>Here is how it works:</h3>
                <p>First you will need to set up a name for your business as well as a password. Passwords are case sensitive. A combination of letters, numbers and symbols will create the strongest password.</p>
                <p>You may also want to add your logo or a picture of your business. Don't forget to SAVE.</p>
                <p>This option may also be found under the "update account" tab in the admin section.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row divide">

        <div class="col-sm-5">
            <h2>Step 2</h2>
            <h3>Now add the members (children, teachers, drivers, etc...)</h3>

            <p><b>Name:</b> members name</p>
            <p><b>Emergency information:</b> we recommend some important details such as parental name and numbers; Physician, special needs (allergies, medication) and/or specific instructions (who may NOT pick up the child etc.).</p>
            <p><b>Alert:</b> this button can be turned on or off. Turning it on will create a marker next to the members picture. This indicator will help identify individuals with special needs or with specific instructions.</p>
            <p><b>Picture:</b> You may choose to use your on board camera to capture the members picture or you may use a picture that has been sent to you.</p>
        </div>
        <div class="col-sm-7">
            <div class="tutorial_main_img">
                <img src="~/Content/img/dawn_henson.png" alt="dawn_henson" class="cnt_img" />
            </div>
        </div>
    </div>
    <hr>
    <div class="row divide">
        <div class="col-sm-7">
            <div class="tutorial_main_img">
                <img src="~/Content/img/addgroup.png" alt="add new group" class="cnt_img" />
            </div>
        </div>
        <div class="col-sm-5">
            <h2>Step 3</h2>
            <p>
                Create different groups to speed up the member search. Examples would be a room number, teacher name, staff member or bus route.
                A picture may be added with your on board camera or from a file.
            </p>
        </div>
    </div>
    <hr>
    <div class="row divide">

        <div class="col-sm-5">
            <p>
                Now that you have completed setting up your groups, return to the "Administration" section, click on an existing member to access their profile. Use the drop down menu under "Group" to select the group the member will be associated with.
                Don't forget to SAVE... You  are now ready to receive members to your facility!
            </p>
        </div>

        <div class="col-sm-7">
            <div class="tutorial_main_img">
                <img src="~/Content/img/add_group2.png" class="cnt_img" />
            </div>
        </div>
    </div>
</div>
<hr>
<!--start contact header-->
<section id="contact-top" data-bottom-top="background-position: 50% -150px;" data-top-bottom="background-position: 50% 50px;">
    <h1 class="header">Contact Us</h1>
    <!--<div class="gmap"></div>-->
</section>
<!--start contact-->
<section id="contact">
    <div class="container">
        <div class="row divide">
            <p style="text-align:center;">Do you have a question or just want to talk? Email us and we will get right back to you.</p>
            <!--<form action="~/Content/js/sendmail.php" class="form-inline flowuplabels" role="form" method="post" id="contactForm">
                <div class="form-group col-md-3 col-sm-6 fl_wrap">
                    <label class="fl_label" for="name">Name:</label>
                    <input type="text" name="name" value="" id="name" class="form-control fl_input">
                </div>
                <div class="form-group col-md-3 col-sm-6 fl_wrap">
                    <label class="fl_label" for="email">Email:</label>
                    <input type="text" name="email" value="" id="email" class="form-control fl_input">
                </div>
                <span class="honeypot form-group col-md-3 col-sm-6 fl_wrap">
                    <label class="fl_label" for="last">Honeypot:</label>
                    <input type="text" name="last" value="" id="last" class="form-control fl_input">
                </span>
                <div class="form-group col-md-3 col-sm-6 fl_wrap">
                    <label class="fl_label" for="message">Message:</label>
                    <input type="text" name="message" value="" id="message" class="form-control fl_input">
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <button type="submit" value="Send" id="submit" class="btn btn-fancy btn-block">Send</button>
                </div>
                <div class="form-group col-xs-12">
                    <div class="message">
                        <div class="alert"></div>
                    </div>
                </div>
            </form>-->
            <p class="text-center">
                <a class="btn btn-link" href="mailto:info@checkinzone.org">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-link" href="https://www.checkinzone.net/signup">Free Sign Up</a>
            </p>
        </div>
    </div>
</section>

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-537ae2e041d4f872"></script>
<script type="text/javascript">
    addthis.layers({
        'theme': 'transparent',
        'share': {
            'position': 'left',
            'services': 'facebook,twitter,pinterest_share,email,more'
        }
    });
</script>
<!-- AddThis Smart Layers END -->
